<div class="data">
<!--  <div class="spinner-shade">-->
<!--    <mat-spinner *ngIf="!storeService.isLoading"></mat-spinner>-->
<!--  </div>-->
  <table mat-table [dataSource]="storeService.children" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="kindergarden">
      <th mat-header-cell *matHeaderCellDef>Kindergarten</th>
      <td mat-cell *matCellDef="let element">{{ element.kindergarden.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Adresse</th>
      <td mat-cell *matCellDef="let element">
        {{ element.kindergarden.address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Alter</th>
      <td mat-cell *matCellDef="let element">{{ getAge(element.birthDate) }}</td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef>Geburtsdatum</th>
      <td mat-cell *matCellDef="let element">{{ element.birthDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="cancel">
      <th mat-header-cell *matHeaderCellDef>Abmeldung</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="warn"
          (click)="cancelRegistration(element.id)"
        >
          Abmelden
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    (page)="handlePageEvent($event)"
    [length]="returnAllPages() + 1"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
