<div class="dashboard">
  <app-data
    class="dashboard__app-data"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [pageCount]="getPageCount()"
    [sortValues]="sort"
    [isLoading]="storeService.isLoading"
    (canceledEvent)="onRegistrationCanceled($event)"
    (selectPageEvent)="receiveMessage($event)"
    (sortedEvent)="sortTable($event)"
    (filterEvent)="filterTable($event)"
    (resetFilterEvent)="resetFilter()"
  ></app-data>
  <br />
  <app-button
    class="dashboard__app-button"
    [showAddData]="showAddData"
    (toggleButtonClickEvent)="toggleButtonClicked($event)"
  ></app-button>
  <app-add-data
    class="dashboard__app-add-data"
    *ngIf="showAddData"
    [currentPage]="currentPage"
    [sort]="sort"
  ></app-add-data>
</div>
