<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
  <div class="add-form">
    <h2 class="add-form__title">Ihr Kind anmelden!</h2>
    <mat-form-field class="add-form__input-name">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error *ngIf="name.invalid">{{ getErrorMessage("name") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="add-form__input-birthdate">
      <mat-label>Geburtsdatum</mat-label>
      <input formControlName="birthDate" matInput [matDatepicker]="picker" />
      <mat-hint>TT/MM/JJJJ</mat-hint>
      <mat-error *ngIf="birthDate.invalid"
        >{{ getErrorMessage("birthDate") }}
      </mat-error>
      <mat-datepicker-toggle
        matTooltip="Das Kind muss zwischen 3 und 6 Jahre alt sein"
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Bitte Auswählen</mat-label>
      <mat-select formControlName="kindergardenId">
        <mat-option
          *ngFor="let kindergarden of storeService.kindergardens"
          [value]="kindergarden.id"
        >
          {{ kindergarden.name }}, {{ kindergarden.address }}
          <hr />
        </mat-option>
      </mat-select>
      <mat-error *ngIf="kindergardenId.invalid"
        >{{ getErrorMessage("kindergardenId") }}
      </mat-error>
    </mat-form-field>
    <button
      class="add-form__button"
      [disabled]="!addChildForm.valid"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Erfassen
    </button>
    <p>* gekennzeichnete Felder sind Pflichtfelder</p>
  </div>
</form>
